.outline {
  background-color: #fff;
  padding: 1.5rem 0.75rem 0.5rem 0.75rem;
  min-width: 300px;
  max-width: 300px;
  min-height: 304px;
  max-height: 400px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
}

@media (max-width: 648px) {
  .outline {
    width: 100%;
    gap: 1rem;
  }
}

.BUTTON {
  background: #000;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 4rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}
